In [119]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import hvplot.pandas
import panel as pn
import plotly.express as px
from pathlib import Path
from dotenv import load_dotenv

# Initialize the Panel Extensions (for Plotly)
pn.extension('plotly')

In [120]:
csv_path = Path('../Resources/employment_illness.csv')
employmt_illness_data = pd.read_csv(csv_path)
employmt_illness_data.head(100)

      Series ID  Year Period        Label   Value
0   LNS17900000  2018    M01     2018 Jan  1609.0
1   LNS17900000  2018    M02     2018 Feb  1532.0
2   LNS17900000  2018    M03     2018 Mar  1684.0
3   LNS17900000  2018    M04     2018 Apr  1592.0
4   LNS17900000  2018    M05     2018 May  1575.0
5   LNS17900000  2018    M06     2018 Jun  1452.0
6   LNS17900000  2018    M07     2018 Jul  1610.0
7   LNS17900000  2018    M08     2018 Aug  1490.0
8   LNS17900000  2018    M09     2018 Sep  1609.0
9   LNS17900000  2018    M10     2018 Oct  1428.0
10  LNS17900000  2018    M11     2018 Nov  1558.0
11  LNS17900000  2018    M12     2018 Dec  1373.0
12  LNS17900000  2019    M01     2019 Jan  1406.0
13  LNS17900000  2019    M02     2019 Feb  1798.0
14  LNS17900000  2019    M03     2019 Mar  1458.0
15  LNS17900000  2019    M04     2019 Apr  1537.0
16  LNS17900000  2019    M05     2019 May  1515.0
17  LNS17900000  2019    M06     2019 Jun  1450.0
18  LNS17900000  2019    M07     2019 Jul  1387.0
19  LNS17900000  2019    M08     2019 Aug  1434.0
20  LNS17900000  2019    M09     2019 Sep  1518.0
21  LNS17900000  2019    M10     2019 Oct  1448.0
22  LNS17900000  2019    M11     2019 Nov  1398.0
23  LNS17900000  2019    M12     2019 Dec  1404.0
24  LNS17900000  2020    M01     2020 Jan  1369.0
25  LNS17900000  2020    M02     2020 Feb  1475.0
26  LNS17900000  2020    M03     2020 Mar  1464.0
27  LNS17900000  2020    M04     2020 Apr  2549.0
28  LNU02574638  2018    A01  2018 Annual     2.8
29  LNU02574638  2019    A01  2019 Annual     2.7

In [121]:
employmt_illness_data = employmt_illness_data.drop(columns=["Series ID", "Year", "Period"])
employmt_illness_data.head(29)

          Label   Value
0      2018 Jan  1609.0
1      2018 Feb  1532.0
2      2018 Mar  1684.0
3      2018 Apr  1592.0
4      2018 May  1575.0
5      2018 Jun  1452.0
6      2018 Jul  1610.0
7      2018 Aug  1490.0
8      2018 Sep  1609.0
9      2018 Oct  1428.0
10     2018 Nov  1558.0
11     2018 Dec  1373.0
12     2019 Jan  1406.0
13     2019 Feb  1798.0
14     2019 Mar  1458.0
15     2019 Apr  1537.0
16     2019 May  1515.0
17     2019 Jun  1450.0
18     2019 Jul  1387.0
19     2019 Aug  1434.0
20     2019 Sep  1518.0
21     2019 Oct  1448.0
22     2019 Nov  1398.0
23     2019 Dec  1404.0
24     2020 Jan  1369.0
25     2020 Feb  1475.0
26     2020 Mar  1464.0
27     2020 Apr  2549.0
28  2018 Annual     2.8

In [122]:
employmt_illness_data = employmt_illness_data.rename(columns={"Label":"Date"})
employmt_illness_data.head(29)

           Date   Value
0      2018 Jan  1609.0
1      2018 Feb  1532.0
2      2018 Mar  1684.0
3      2018 Apr  1592.0
4      2018 May  1575.0
5      2018 Jun  1452.0
6      2018 Jul  1610.0
7      2018 Aug  1490.0
8      2018 Sep  1609.0
9      2018 Oct  1428.0
10     2018 Nov  1558.0
11     2018 Dec  1373.0
12     2019 Jan  1406.0
13     2019 Feb  1798.0
14     2019 Mar  1458.0
15     2019 Apr  1537.0
16     2019 May  1515.0
17     2019 Jun  1450.0
18     2019 Jul  1387.0
19     2019 Aug  1434.0
20     2019 Sep  1518.0
21     2019 Oct  1448.0
22     2019 Nov  1398.0
23     2019 Dec  1404.0
24     2020 Jan  1369.0
25     2020 Feb  1475.0
26     2020 Mar  1464.0
27     2020 Apr  2549.0
28  2018 Annual     2.8

In [123]:
employmt_illness_data = employmt_illness_data[~employmt_illness_data['Date'].str.contains("Annual")]

In [124]:
date = pd.to_datetime(employmt_illness_data['Date'], infer_datetime_format = True) #2020March and they are already strings

In [125]:
#bring emp and date df together
date_df = pd.DataFrame(date)
date_df['Value'] = employmt_illness_data['Value']
date_df.hvplot.line("Date","Value", ylabel="# of illness in meat plants")

:Curve   [Date]   (Value)

In [126]:
date_df.hvplot.bar("Date","Value",ylabel = "# of illness in meat plants",rot=60)

:Bars   [Date]   (Value)

In [127]:
csv_path = Path('../Resources/high_emplymt_states.csv')
high_emplymt_states_data = pd.read_csv(csv_path)
high_emplymt_states_data.head(100)

,State,Employment (1),Employment per thousand jobs,Location quotient (9),Hourly mean wage,Annual mean wage (2)
0,North Carolina,"5,720",1.30,2.50,$13.98,"$29,070"
1,California,"5,350",0.31,0.60,$13.45,"$27,980"
2,Georgia,"5,010",1.14,2.18,$11.98,"$24,920"
3,Illinois,"4,150",0.69,1.33,$14.73,"$30,640"
4,Minnesota,"4,140",1.44,2.77,$15.16,"$31,540"

In [128]:
high_emplymt_states_data = high_emplymt_states_data.drop(columns=["Employment per thousand jobs", 
                                                                  "Location quotient (9)",
                                                                  "Hourly mean wage","Annual mean wage (2)" ])
high_emplymt_states_data.head(29)

            State Employment (1)
0  North Carolina          5,720
1      California          5,350
2         Georgia          5,010
3        Illinois          4,150
4       Minnesota          4,140

In [129]:
high_emplymt_states_data = high_emplymt_states_data.rename(columns={"State":"States with high meat plant employmt"})
high_emplymt_states_data.head(29)

  States with high meat plant employmt Employment (1)
0                       North Carolina          5,720
1                           California          5,350
2                              Georgia          5,010
3                             Illinois          4,150
4                            Minnesota          4,140

In [130]:
high_emplymt_states_data.hvplot.line("States with high meat plant employmt","Employment (1)")

:Curve   [States with high meat plant employmt]   (Employment (1))

In [131]:
csv_path = Path('../Resources/food_manufacture.csv')
food_manufacture_data = pd.read_csv(csv_path)
food_manufacture_data.head(100)

,State name,# of manufacturers,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Alabama,322,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,175,NaN,NaN,NaN,NaN,NaN,NaN
2,Arizona,363,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,288,NaN,NaN,NaN,NaN,NaN,NaN
4,California,"5,639",NaN,NaN,NaN,NaN,NaN,NaN
5,Colorado,882,NaN,NaN,NaN,NaN,NaN,NaN
6,Connecticut,363,NaN,NaN,NaN,NaN,NaN,NaN
7,Delaware,83,NaN,NaN,NaN,NaN,NaN,NaN
8,District of Columbia,37,NaN,NaN,NaN,NaN,NaN,NaN
9,Florida,"1,246",NaN,NaN,NaN,NaN,NaN,NaN
10,Georgia,678,NaN,NaN,NaN,NaN,NaN,NaN
11,Hawaii,287,NaN,NaN,NaN,NaN,NaN,NaN
12,Idaho,279,NaN,NaN,NaN,NaN,NaN,NaN
13,Illinois,"1,410",NaN,NaN,NaN,NaN,NaN,NaN
14,Indiana,620,NaN,NaN,NaN,NaN,NaN,NaN
15,Iowa,559,NaN,NaN,NaN,NaN,NaN,NaN
16,Kansas,328,NaN,NaN,NaN,NaN,NaN,NaN
17,Kentucky,369,NaN,NaN,NaN,NaN,NaN,NaN
18,Louisiana,385,NaN,NaN,NaN,NaN,NaN,NaN
19,Maine,284,NaN,NaN,NaN,NaN,NaN,NaN
20,Maryland,427,NaN,NaN,NaN,NaN,NaN,NaN
21,Massachusetts,752,NaN,NaN,NaN,NaN,NaN,NaN
22,Michigan,"1,026",NaN,NaN,NaN,NaN,NaN,NaN
23,Minnesota,796,NaN,NaN,NaN,NaN,NaN,NaN
24,Mississippi,209,NaN,NaN,NaN,NaN,NaN,NaN
25,Missouri,642,NaN,NaN,NaN,NaN,NaN,NaN
26,Montana,234,NaN,NaN,NaN,NaN,NaN,NaN
27,Nebraska,315,NaN,NaN,NaN,NaN,NaN,NaN
28,Nevada,234,NaN,NaN,NaN,NaN,NaN,NaN
29,New Hampshire,155,NaN,NaN,NaN,NaN,NaN,NaN
30,New Jersey,"1,058",NaN,NaN,NaN,NaN,NaN,NaN
31,New Mexico,204,NaN,NaN,NaN,NaN,NaN,NaN
32,New York,"2,578",NaN,NaN,NaN,NaN,NaN,NaN
33,North Carolina,830,NaN,NaN,NaN,NaN,NaN,NaN
34,North Dakota,132,NaN,NaN,NaN,NaN,NaN,NaN
35,Ohio,"1,076",NaN,NaN,NaN,NaN,NaN,NaN
36,Oklahoma,324,NaN,NaN,NaN,NaN,NaN,NaN
37,Oregon,"1,074",NaN,NaN,NaN,NaN,NaN,NaN
38,Pennsylvania,"1,528",NaN,NaN,NaN,NaN,NaN,NaN
39,Rhode Island,163,NaN,NaN,NaN,NaN,NaN,NaN
40,South Carolina,289,NaN,NaN,NaN,NaN,NaN,NaN
41,South Dakota,145,NaN,NaN,NaN,NaN,NaN,NaN
42,Tennessee,472,NaN,NaN,NaN,NaN,NaN,NaN
43,Texas,"2,252",NaN,NaN,NaN,NaN,NaN,NaN
44,Utah,364,NaN,NaN,NaN,NaN,NaN,NaN
45,Vermont,264,NaN,NaN,NaN,NaN,NaN,NaN
46,Virginia,659,NaN,NaN,NaN,NaN,NaN,NaN
47,Washington,"1,354",NaN,NaN,NaN,NaN,NaN,NaN
48,West Virginia,118,NaN,NaN,NaN,NaN,NaN,NaN
49,Wisconsin,"1,104",NaN,NaN,NaN,NaN,NaN,NaN
50,Wyoming,82,NaN,NaN,NaN,NaN,NaN,NaN

In [132]:
food_manufacture_data = food_manufacture_data.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4", "Unnamed: 5", "Unnamed: 6", "Unnamed: 7"])
food_manufacture_data.head(100)

              State name # of manufacturers
0                Alabama                322
1                 Alaska                175
2                Arizona                363
3               Arkansas                288
4             California              5,639
5               Colorado                882
6            Connecticut                363
7               Delaware                 83
8   District of Columbia                 37
9                Florida              1,246
10               Georgia                678
11                Hawaii                287
12                 Idaho                279
13              Illinois              1,410
14               Indiana                620
15                  Iowa                559
16                Kansas                328
17              Kentucky                369
18             Louisiana                385
19                 Maine                284
20              Maryland                427
21         Massachusetts                752
22              Michigan              1,026
23             Minnesota                796
24           Mississippi                209
25              Missouri                642
26               Montana                234
27              Nebraska                315
28                Nevada                234
29         New Hampshire                155
30            New Jersey              1,058
31            New Mexico                204
32              New York              2,578
33        North Carolina                830
34          North Dakota                132
35                  Ohio              1,076
36              Oklahoma                324
37                Oregon              1,074
38          Pennsylvania              1,528
39          Rhode Island                163
40        South Carolina                289
41          South Dakota                145
42             Tennessee                472
43                 Texas              2,252
44                  Utah                364
45               Vermont                264
46              Virginia                659
47            Washington              1,354
48         West Virginia                118
49             Wisconsin              1,104
50               Wyoming                 82

In [133]:
food_manufacture_data= food_manufacture_data.rename(columns={"Unnamed: 0":"State", "Unnamed: 1":"Total manufacturers"})
food_manufacture_data.head()

   State name # of manufacturers
0     Alabama                322
1      Alaska                175
2     Arizona                363
3    Arkansas                288
4  California              5,639

In [134]:
food_manufacture_data = food_manufacture_data.dropna()
food_manufacture_data.head()

   State name # of manufacturers
0     Alabama                322
1      Alaska                175
2     Arizona                363
3    Arkansas                288
4  California              5,639

In [135]:
food_manufacture_data.hvplot.line(x="State name", y="# of manufacturers", rot=90, height=900, width=1000)

:Curve   [State name]   (# of manufacturers)

In [136]:
#def average_price_by_neighborhood():
#    """Average Prices by Neighborhood."""
#    average_price_per_neighborhood = sfo_data[['sale_price_sqr_foot','neighborhood']].groupby(['year','neighborhood']).mean()
#    avg_price_plot = average_price_per_neighborhood.hvplot.line(
#        x='year',
#       y='sale_price_sqr_foot',
#        xlabel='Year',
#        ylabel= 'avg sales price per square foot',
#       groupby= 'neighborhood')

#   return avg_price_plot

In [137]:
def illness_plot():
    "Employee Illnesses in Animal Slaughtering and Processing Industry"
    date_df['Value'] = employmt_illness_data['Value']
    date_df_plot = date_df.hvplot.line("Date","Value", ylabel="# of illness in meat plants")
    return date_df_plot

In [138]:
employee_illness_column = pn.Column("employee_illness", illness_plot())

In [140]:
panel = pn.Tabs(
    ("employee_illness", illness_plot))
panel

Tabs
    [0] Column
        [0] Column()
        [1] Row
            [0] HoloViews(Curve, name='interactive04941')

In [ ]:
def
food_manufacture_data.hvplot.line(x="State name", y="# of manufacturers", rot=90, height=900, width=1000)